
    {% extends "header_landing.html" %}
    {% block style %} 
    <style>
    body {
        background-color: rgb(47, 52, 56);
    }


    #main-text {
        display: flex;
        justify-self: center;
        width: 80%;
        box-shadow: 3px 5px 3px rgba(15, 15, 15, 0.61);
    }
    #footer {
        color: rgb(202, 215, 221);
        font-size: small; 
    }
    a:link {
    text-decoration: none;
}

</style>

    {% endblock %}

    {% block main %}
    <div id="main-text" class="card text-bg-dark mb-3 w-75 p-3">
        <h2 class="card-header">Welcome!</h2>
        <div class="card-body">The purpose of this web application is to create a space for users to make notes and files. Users can sign-up or login to create, edit and delete files. <br> <br>
        This is a collaborative project between __ <!--enter our names here, full names? T-->. We are using this project as  way of expanding our coding skills and practice working on a team. 
    </div>
    </div>
    {% endblock %}
    