<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Welcome</h2> 
    <a href="{{ url_for('login')}}"> login </a> <!--To be styled as button in css T-->
    <br>
    <p>The purpose of this web application is to create a space for users to make notes and files.
    This is a collaborative project between __ <!--enter our names here, full names? T-->. We are using this project as  way of expanding our coding skills and praactice working on a team. 
    </p>
    
</body>
</html>