<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1> 
    <form action="/login" method="POST">
            {% if message and "wrongEntry" in message %} <span style="color:red">Wrong email or password</span>{% endif %}
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" {% if message and message[0].strip() != ""  %} value="{{message[0]}}" {% endif %}> 
            {% if message and message[0].strip() == "" %} <span style="color:red">Email should not be empty </span>
            {% elif message and "invalidEmail..." in message %} <span style="color:red">Email is not valid </span>{% endif %}
        </div>
        
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" {% if message and message[1].strip() !=""  %} value="{{message[1]}}" {% endif %}> 
            {% if message and message[1].strip()=="" %} <span style="color:red">Password should not be empty </span>{% endif %}
            </div>
        <input type="submit" value="Login">
    </form>
    <br>
    <a href="{{ url_for('signup')}}"> No Account? Signup </a> <!--To be styled as button in css T-->
</body>
</html>