<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1> 
    <form action="/login" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"> 
        </div>
        
        <div>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password"> 
        </div>
        <input type="submit" value="Login">
    </form>
    <br>
    <a href="{{ url_for('signup')}}"> No Account? Signup </a> <!--To be styled as button in css T-->
</body>
</html>