
    {% extends "header_landing.html" %}
    {% block style %} 
<style>
    body {
        background-color: rgb(47, 52, 56);
    }
    #logo-head {
        padding-left: 0%;
        padding-right: 60%;
    }
        .main-container {
        padding-top: 3%;
        padding-bottom: 3%;
        display: flex;
        justify-self: center;
        width:60%;
        background-color: rgb(61, 95, 128);
        border: 2px solid #0dcaf0;
    }
    #login-card {
        display: flex;
        justify-self: center;
    }
    #email {
        background-color: rgb(61, 95, 128);
    }
    #password {
        background-color: rgb(61, 95, 128);
    }
</style>
{% endblock %}

    {% block main %}
        <div id="login-card" class="card text-bg-dark mb-3 w-75 p-3">
            <h5 class="card-header">Login</h5>
            <div class="card-body">
                <form action="/login" method="POST">
                        {% if message and "wrongEntry" in message %} <span style="color:red">Wrong email or password</span>{% endif %}
                    <div>
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" {% if message and message[0].strip() != ""  %} value="{{message[0]}}" {% endif %}> 
                        {% if message and message[0].strip() == "" %} <span style="color:red">Email should not be empty </span>
                        {% elif message and "invalidEmail..." in message %} <span style="color:red">Email is not valid </span>{% endif %}
                    </div>
                    
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" {% if message and message[1].strip() !=""  %} value="{{message[1]}}" {% endif %}> 
                        {% if message and message[1].strip()=="" %} <span style="color:red">Password should not be empty </span>{% endif %}
                    </div>
                        <input type="submit" value="Login" class="btn btn-outline-info">
            </div>
    <br>
    <a href="{{ url_for('signup')}}"> No Account? Signup </a> <!--To be styled as button in css T-->
{% endblock %}