    {% extends "header_landing.html" %}
    {% block style %}
    <style>
        * {
            color: ;
        padding: 0;
        margin: 0;
        color: rgb(255, 255, 255);
        }

        body {
        background-color: rgb(47, 52, 56);
        }

        #main-container {
        display: grid;
    grid-template-columns:2fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
                        "card card"
                        "card card";
        }
    </style>
    {% endblock %} 

    {% block main %}
    <!--maincontainer -T -->
     {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}
            <div id="messageFlash">
                
            {% for category, message in messages %}
                <p class="{% if category == 'error' %} p-4 fs-3 bg-danger text-light {% elif category == 'success'%}  p-4 fs-3 bg-success text-light {% endif %}" >{{message}}</p>
            {% endfor %}
                
            </div>
        {% endif %}

    
    <div  class="card text-bg-dark mb-3">
        <h1 class="card-header">Hello, {{session["username"]}}</h1>
        <div id="main-container" class="card-body">
            <!--container for first name -T-->
            <div class="mb-2" style="max-width: 20rem;">
                <form action="{{url_for('editProfile')}}" method="POST" class="card-header bg-transparent border border-info text-bg-dark"> 
                    <label for="first_name">First Name</label>
                    <input type="text" id="first_name" name="first_name" class="form-control" value="{{user.first_name}}" readonly>
                    <input type="hidden" name="last_name" value="{{user.last_name}}">
                    <div>
                        <button class="btn btn-outline-info mt-2" type="button" onclick="document.getElementById('first_name').removeAttribute('readonly');document.getElementById('first_name').focus(); this.classList.add('d-none'); this.nextElementSibling.classList.remove('d-none');"><i class="bi bi-pen"></i> Edit</button>
                        <div class="d-none edit-buttons" id="">
                            <button class="btn btn-danger mt-2" type="button" onclick="document.getElementById('first_name').setAttribute('readonly', 'readonly'); this.parentElement.classList.add('d-none'); this.parentElement.previousElementSibling.classList.remove('d-none');"><i class="bi bi-x"></i> Cancel</button>
                            <button class="btn btn-success mt-2"  ><i class="bi bi-check"></i> Save</button>
                        </div>
                    </div>
                </form>
                
            </div>
            <!--container for last name -T--> 
            <div class="mb-2" style="max-width: 20rem;">
                <form action="{{url_for('editProfile')}}" method="POST"  class="card-header bg-transparent border border-info text-bg-dark"> 
                    <label for="last_name">Last Name</label>
                    <input type="text" id="last_name" name="last_name" class="form-control" value="{{user.last_name}}" readonly>
                    <input type="hidden" name="first_name" value="{{user.first_name}}">
                    <div>
                        <button class="btn btn-outline-info mt-2" type="button" onclick="document.getElementById('last_name').removeAttribute('readonly');document.getElementById('last_name').focus(); this.classList.add('d-none'); this.nextElementSibling.classList.remove('d-none');"><i class="bi bi-pen"></i> Edit</button>
                        <div class="d-none edit-buttons" id="">
                            <button class="btn btn-danger mt-2" type="button" onclick="document.getElementById('last_name').setAttribute('readonly', 'readonly'); this.parentElement.classList.add('d-none'); this.parentElement.previousElementSibling.classList.remove('d-none');"><i class="bi bi-x"></i> Cancel</button>
                            <button class="btn btn-success mt-2" ><i class="bi bi-check"></i> Save</button>
                        </div>
                    </div>
                </form>
                
            </div>
            <!--container for email -T-->
            <div class="mb-2" style="max-width: 20rem;">
                <div class="card-header bg-transparent border border-info  text-bg-dark"> 
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" class="form-control" value="{{user.email}}" readonly>
                </div>
                
            </div>
            <!--container for password -T-->
            <div class="mb-2" style="max-width: 20rem;">
                
                <div class="card-header bg-transparent border border-info text-bg-dark"> 
                    <form action="{{url_for('changePassword')}}" method="POST">
                        <label for="current_password">Current Password</label>
                        <input type="password" id="current_password" name="current_password" class="form-control" required>
                        {% if messages and messages[0][1] == "Current password is incorrect." %} <span style="color:red">{{messages[0][1]}}</span>{% endif %}
                        <label for="new_password">New Password</label>
                        <input type="password" id="new_password" name="new_password" class="form-control" required>
                        {% if messages and messages[0][1] == "New password is invalid." %} <span style="color:red">{{messages[0][1]}}</span>{% endif %}
                        <label for="confirm_new_password">Confirm New Password</label>
                        <input type="password" id="confirm_new_password" name="confirm_new_password" class="form-control" required>
                        {% if messages and messages[0][1] == "New password and confirm new password do not match." %} <span style="color:red">{{messages[0][1]}}</span>{% endif %}
                        <input type="submit" value="Change Password" class="btn btn-outline-info mt-2">
                    </form>
                </div>
               
            </div>
        </div>
    </div>
    {% endwith %}
    {% endblock %}

    {% block script %}
    <script>
        
if (messageFlash){
     setTimeout(function(){
        messageFlash.style.left="0%"
    }, 300)
      setTimeout(function(){
        messageFlash.style.left="-100%"
    }, 4500)
    setTimeout(function(){
        messageFlash.remove()
    }, 6000)

    
}

        </script>
    
    {% endblock %}